.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 80%;
    height: 71px;
}

.count{
    color: #141416;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: calc(14px + 24 * (100vw / 1920));
    font-style: normal;
    font-weight: 600;
}

.title{
    color: #848586;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}