.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 45px auto;
}

.navItems{
    display: inline-flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;

    color: #141416;
    font-weight: 700;
    text-decoration: none;
    font-size: 24px;
}

.findContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 10%;

    background: #ededed;
    padding: 17px 50px 17px 20px;
}
.findInput{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;

    background: #ededed;
    color: #C2C3CB;

    border: none;
    padding-right: 10px;
    margin-left: 30px;

    outline: none;
}
.findInput::placeholder{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #C2C3CB;
}

.connectButton{
    margin-top: 8px;
    border: none;
    border-radius: 18px;
    background: #141416;

    padding: 6px 14px;
}
.connectButtonTitle{
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}